:root {
    --dark-green: #3C4329;
    --mud-green: #6D745A;
    --para-green: #717171;
    --light-green: #E0EBDF;
    --theme-white: #FAFAFA;
    --white: #FFFFFF;
    --font-family: 'Merriweather', serif;
}
body {
    max-width: 1819px;
    margin:0 auto;
    font-family: var(--font-family);
}
html {
  scroll-behavior: smooth;
}
.page-wrapper {
    padding-left:1rem; 
    padding-right:1rem;
}
@media all and (min-width:786px) {
    .page-wrapper {
        padding-left:2rem; 
        padding-right:2rem;
        padding-bottom:2rem;
    }
}
@media all and (min-width:1819px) {
    .page-wrapper {
        padding-left:0; 
        padding-right:0;
        padding-bottom:2rem;
    }
}
#toggleMobile {
    display:block;
}
@media all and (min-width:786px) {
    #toggleMobile {
        display:none;
    }
}
h1, h2 {
    font-weight: 300;
    font-family: var(--font-family);
}
p {
    font-size: 16px;
    line-height: 31px;
    font-weight:300;
    font-family: var(--font-family);
    color: var(--para-green);
}
button {
    border: none;
    font-family: var(--font-family);
    font-weight: 300;
    cursor: pointer;
}
.theme-bg-white {
    background-color: var(--theme-white);
}
.light-bg-green {
    background-color: var(--light-green);
}
.light-bg-grey {
    background-color: var(--theme-white);
} 
.text-white {
    color: var(--white);
}
.text-dark-green {
    color: var(--dark-green);
}
.text-mud-green {
    color: var(--para-green);
}
.btn {
    padding: 1rem 2rem;
    font-style: italic;
}
.btn-green {
    background-color: var(--dark-green);
}
.btn-border {
    border: 2px solid var(--dark-green);
    background-color: transparent;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(20deg);
  transform: scale(1.1) rotate(20deg);
}

/* Navigation */
.header-nav {
    border-bottom: 2px solid var(--dark-green);
    height: 115px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;
    position: relative;
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    padding-left:0;
}
.header-nav ul a {
    text-decoration: none;
    color: var(--para-green);
    font-size: 30px;
    margin-bottom: 2rem;
}

@media all and (max-width: 786px) {
    .header-menu {
        position: absolute;
        top: 118px;
        left: 0;
        background: #eee;
        width: 100%;
        height: auto;
        display: none;
        padding-top: 1rem;
    }
    .header-nav ul {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        flex-direction: column;
        text-align: center;
    }
}
@media all and (min-width: 786px) { 
    .header-nav ul a:not(:last-child) {
        margin-right:20px;
    }
    .header-nav ul a { 
        font-size: 16px;
        margin-bottom: 0;
    }
}

/* Hero */
.hero-container {
    background-position: bottom right 18%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #dddede;

    padding-bottom: 6rem;
    padding-top: 2rem;
}
.hero-container .content {
    padding: 0 1rem;
}
.hero-container .content h1 {   
    font-size: 50px;
    margin: 0;
}

/* Hero > Responsive Media Queries */
@media all and (min-width: 499px ) {
    .hero-container .content {
        max-width: 407px;
    }
}
@media all and (min-width: 650px ) {
    .hero-container {
        background-size: cover;
    }
}
@media all and (min-width: 786px ) {
    .hero-container {
        height: 80vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .hero-container .content {
        padding-left:105px;
    }
    .hero-container .content h1 {
        font-size: 80px;   
    }
    .hero-container .content {
        max-width: 570px;
    }
}

/* Section 1 */
.section .container .content {
    padding: 3rem 1rem;
}
.section .container .content h2 {
    font-size: 30px;
    margin:0;
}
.section .no-content-img {
    background-position: center bottom;
    background-size:cover;
    background-repeat:no-repeat;
    height:300px;
}

/* Section 1 > Responsive Media Queries */
@media all and (min-width: 786px) {
    .section {
        margin-top: 2rem;
    }
    .section .col-md-6 {
        width:50%;
    }
    .section .container .content h2 {
        font-size: 50px;
    }
    .section .container .content {
        padding: 6rem 5rem 7rem 105px;
    }
    .section .no-content-img {
        height: initial;
    }
    .section .r-flex {
        display: flex;
        align-items: stretch;
        grid-gap: 2rem;
    }
    .section .col {
        align-self:stretch;
    }
}
@media all and (min-width: 1020px) {
    .section .container .content {
        max-width: 550px;
        padding: 10rem 5rem 10rem 105px;
    }
}



/* Product House Plants */
.product {
    margin-bottom: 2rem;
}
.product .card {
    background-position: center bottom;
    background-size:cover;
    background-repeat:no-repeat;
    height: 400px;
    position: relative;
}
.product .card .description {
    position:absolute;
    bottom: 0;
    left:0;

    width:100%;
    background:#FFFFFF;

    display:flex;
    justify-content: space-between;
    align-items: center;
}
.product .card .description .title,
.product .card .description .price {
    padding: 10px 0px 0px 0px;
    font-family: var(--font-family);
}

.product .pad-mobile {
    padding: 2rem 1rem 0 1rem;
}
.product .container {
    margin-top:2rem;
}
.product .left-align-products .content h2 {
    font-size: 30px;
    margin: 0;
}
.product .left-align-products .content {
    padding: 2rem 1rem;
    text-align: center;
}

@media all and (min-width: 486px) {
    .product .r-flex {
        display: flex;
        justify-content: space-between;
    }
    .product .col-mx-6 {
        width: 50%;

    }
}

@media all and (min-width: 786px) {
    .product .flex-prods,
    .product .r-flex {
        display: flex;
        align-items: stretch;
        grid-gap: 2rem;
    }
    .product .r-flex,
    .product .card {
        height:463px;
    }
    .product .flex-prods {
        margin-top:2rem;
    }
    .product .content h2 {
        font-size: 60px !important;
    }
    .product  .light-bg-grey,
    .product  .light-bg-green {
        height:100%;
    }
    .product .card {

    }
    .product .col-md-6 {
        width:50%;
    }   
    .product .container,
    .product .pad-mobile {
        margin:0;
        padding:0;
    }
    .product .container {
        display:flex;
        align-items: center;
    }
    .product .left-align-products .content {
        text-align: left;
        padding: 2rem 2rem 2rem 55px;
        max-width: 450px;
    }
}
@media all and (min-width: 1020px) { 
    .product .left-align-products .content {
        padding: 2rem 2rem 2rem 105px;
    }
    .product .r-flex,
    .product .card {
        height:663px;
    }   
}


/* Slider Class Selector */
.CSSslider {
    position: relative;
    overflow: hidden;
    height: 100%;
}

/* Slider */
.CSSslider .slider {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
}

/* Slides */
.CSSslider .slider > * {
    font-size: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}

.CSSslider .prevNext {
    position: absolute;
    z-index: 1;
    bottom: 9%;
    width: 100%;
    height: 0;
    z-index: 99999;
}

.CSSslider .prevNext > div+div {
    visibility: hidden;
}

.CSSslider .prevNext a {
    position: absolute;
    width:       40px;
    height:      60px;
    line-height: 60px;
    text-align: center;
    -webkit-transition: 0.3s;
                    transition: 0.3s;
    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
    left: 0;
}
.CSSslider .prevNext a:hover {
    opacity: 1;
}
.CSSslider .prevNext a+a {
    left: auto;
    right: 0;
}

/* Navigation */
.CSSslider .bullets {
    position: absolute;
    z-index: 2;
    bottom: 9px;
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.CSSslider .bullets > a {
    display: inline-block;
    width:       12px;
    height:      12px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    background: var(--dark-green);
    -webkit-transition: 0.3s;
                    transition: 0.3s;
}
.CSSslider .bullets > a+a {
    background: var(--dark-green);
}
.CSSslider .bullets > a:hover {
    background: var(--dark-green);
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSslider >s:target ~ .bullets >* {      background: var(--dark-green);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {width:22px;height:22px;}
#s2:target ~ .bullets >*:nth-child(2) {width:22px;height:22px;}
#s3:target ~ .bullets >*:nth-child(3) {width:22px;height:22px;}
#s4:target ~ .bullets >*:nth-child(4) {width:22px;height:22px;}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSslider >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
/* More slides? Add here more rules */

/*________________________________________
    All above was mainly to get it working :)
    CSSgal CUSTOM STYLES / OVERRIDES HERE:
________________________________________*/

.CSSslider {
    color: #fff;    
    text-align: center;
}
.CSSslider .slider h2 {
    margin-top: 40vh;
    font-weight: 200;
    letter-spacing: -0.06em;
    word-spacing: 0.2em;
    font-size: 3em;
}
.CSSslider a {
    border-radius: 50%;
    margin: 0 3px;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}
.CSSslider .slider {
    height: 250px;
}
.CSSslider .slider div {
    height: 210px;
}
.CSSslider .slider, .CSSslider .slider div {
    background-position:center;
    background-repeat: no-repeat;
}

.CSSslider a.prev-icon:before,
.CSSslider a.next-icon:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
}
.CSSslider a.prev-icon:before {
    background: url("/wp-content/themes/cactile-theme/images/Arrow_Left.svg") no-repeat;
    background-position:center;
    background-size: contain;  
}

.CSSslider a.next-icon:before {
    background: url("/wp-content/themes/cactile-theme/images/Arrow_Right.svg") no-repeat;
    background-position:center;
    background-size: contain;
}
/* Pre-Footer */
.pre-footer-cta .container {
    padding-top:2rem;
    padding-bottom:2rem;
    text-align:center;
    margin-bottom:2rem;
}
.pre-footer-cta .container h2 {
    margin: 0 0 1rem 0;
}

@media all and (min-width:786px) { 
    .CSSslider .prevNext  {
        bottom: 8%;
    }
    .CSSslider a.prev-icon:before,
    .CSSslider a.next-icon:before {
        height: 28px;
        width: 28px;
    }
    .CSSslider .slider {
        height: 670px;
    }
    .CSSslider .slider div {
        height: 600px;
    }
    .CSSslider .bullets {
        bottom:35px;
    }
}

@media all and (min-width: 786px) {

    .pre-footer-cta .container h2 {
        color: var(--dark-green);
        font-size: 50px;
        margin: 0 20px 0 0;
    }
    .pre-footer-cta .container {
        height: 316px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Main Footer */
footer {
    background-color:var(--dark-green);
    text-align:center;
    padding: 4rem 0;
}
footer svg {
    margin-bottom: 1rem;
}
footer .links {
    margin-bottom:1.3rem;
}
footer a {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}
footer ul {
    padding:0;
    list-style-type: none;
}
footer ul li {
    font-family: var(--font-family);
    font-weight:300;
    margin-bottom: 15px;
}
footer .social-links a:not(:last-child) {
    margin-right:10px;
}

@media all and (min-width: 786px) {
    footer {
        height: 300px;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    footer .container {

    }
    footer .container .links,
    footer .container .links ul {
        display:flex;
        justify-content: center;
        align-items:center;
    }
    footer .container .links svg {
        margin-right: 35px;
    }
    footer .container .links ul a:not(:last-child) {
        margin-right: 35px;
    }
}